@import "tailwindcss";

/* Aqui você pode adicionar customizações, como suas cores do colors.js */
@theme {
    --color-primary: #193855;
    --color-secondary: #FFC107;
    --color-success: #4CAF50;
    --color-danger: #F44336;
    --color-warning: #FF9800;
    --color-neutral-100: #F5F5F5;
    --color-neutral-200: #EEEEEE;
    --color-neutral-300: #E0E0E0;
    --color-neutral-900: #212121;
}