@import "tailwindcss";

/* Aqui você pode adicionar customizações, como suas cores do colors.js */
@theme {
    --color-primary: #3A47FF;
    --color-secondary: #792CFF;
    --color-tertiary: #9299FF;
    --color-success: #4CAF50;
    --color-danger: #F44336;
    --color-warning: #FF9800;
    --color-neutral-100: #F5F5F5;
    --color-neutral-200: #EEEEEE;
    --color-neutral-300: #E0E0E0;
    --color-neutral-900: #212121;
}
.body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 20px;
}

.grid-item {
  background-color: #ccc;
  height: 100px;
  border-radius: 8px;
}

/* Seu arquivo CSS global (ex: index.css) */

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-[16px];
}
h4{
    @apply text-[14px]
}
h5 {
    @apply text-[12px];
}

h5 {
    @apply text-[12px]
        }
h6 {
    @apply text-[10px]
}

/* Você pode adicionar outros elementos se precisar */
p {
    @apply text-base;
}
